* {
  border: none;
  border-radius: 0;
  font-size: 11pt;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  color: #d5c4a1;
  padding: 1px;
}

window {
  font-family: "Ubuntu";
  color: #d5c4a1;
  background: rgba(0, 0, 0, 0.6);
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 4px;
}

#workspaces button.visible {
}

#workspaces button.focused {
  background-color: #ff8427;
}

#battery, #network, #pulseaudio, #clock, #custom-power, #custom-qbitstats {
  margin: 0px 3px 0px 1px;
  min-width: 10px;
}

#clock {
  margin: 0px 16px 0px 10px;
  min-width: 10px;
}

#clock, #battery, #cpu, #memory, #network, #temperature, #pulseaudio, #custom-spotify, #tray, #mode {
  padding-left: 2em;
  padding-right: 2em;
  margin: 0 0;
}

#pulseaudio.bluetooth, #battery.discharging {
  color: #6070ff;
}

#battery, #battery.good, #network.wifi {
  color: #7aa27a;
}

#battery.charging {
  color: #ffc800;
}

#battery.critical, #temperature.critical {
  color: #fb4934;
}

#network.disconnected {
  color: #ff8427;
}
