* {
  border: none;
  font-size: 11pt;
  color: #d5c4a1;
}

window {
  font-family: "Ubuntu";
  color: #d5c4a1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

#workspaces button {
  transition: all 250ms ease-in-out;
  padding: 0 12px;
  margin: 0 2px;
  border-radius: 10px;
  min-width: 15px;
}

#workspaces button label {
  transition: all 250ms ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

#workspaces button.active label {
  color: #d5c4a1;
}

#workspaces button.active {
  border: 2px solid #333333;
  min-width: 30px;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

#workspaces button.active.focused {
  border: 2px solid #ffc87f;
}

#clock {
  margin: 0px 16px 0px 10px;
  min-width: 10px;
}

#workspaces button.active,
#backlight,
#battery,
#clock,
#cpu,
#custom-spotify,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
  margin: 0 12px;
  padding: 0 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  border-radius: 100px;
  margin-top: 4px;
}

#pulseaudio.bluetooth,
#battery.discharging {
  color: #a0b0ff;
}

#battery,
#battery.good,
#network.wifi {
  color: #a3be8c;
}

#battery.charging {
  color: #ebcb8b;
}

#battery.critical,
#temperature.critical {
  color: #bf616a;
}

#network.disconnected {
  color: #d08770;
}
